/* @override style */

.ant-input {
    font-size: 16px;
    height: 37px;
    background-color: #E9E9E9 !important;
}

.ant-drawer-content {
    background-color: #5E5769 !important;
}

.drawer-bag .anticon svg {
    fill: #fff !important;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 26px;
    padding: 5px;
}

.rate-icon .anticon svg {
    fill: #52C1CC;
}

.ant-tabs {
    color: #fff !important;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center;
}

.ant-tabs-tab-btn {
    font-size: 18px;
    padding: 8px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #52C1CC !important;
}

.ant-tabs-ink-bar {
    background: #52C1CC !important;
}
