/* @override style */

.ant-input {
    font-size: 16px;
    height: 37px;
    background-color: #E9E9E9 !important;
}

.ant-drawer-content {
    background-color: #5E5769 !important;
}

.drawer-bag .anticon svg {
    fill: #fff !important;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 26px;
    padding: 5px;
}
